html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#696969;
}
.container {
  width: 95%;
  margin: 0 auto;
}

.logo{
  float: left;
}

header{
  background: #55d6aa;
}

header::after{
  content: "";
  display: table;
  clear: both;
}

.nav-bar{
  float: left;
}

nav ul {
  margin: 20px;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 100px;
  padding-top: 23px;
  padding-bottom: 15px;

  position: relative;
}

nav a{
  color: #444;
  text-decoration: none;
  text-transform: UpperCase;
  font-size: 20px;
}

nav a:hover{
  color: #000;
}

nav a::before{
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #444;

  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width: 100%;
}

#main-holder {
    width: 70%;
    height: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px #043233;
    margin-left: 225px;
    margin-top: 100px
}

.links{
    display: inline-block;
}

.End-Container{
    float: left;
    margin-right: 100px;
    background-color: #55d6aa;
    padding: 20px 32px;
}

.Extend-Container{
    float: right;
    margin-left: 100px;
    background-color: #55d6aa;
    padding: 20px 32px;

}

#ExtendChat{
    text-decoration: none;
    color: white;

}

#EndChat{
    text-decoration: none;
    color: white;

}