body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 350;
  background-color: #696969;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.logo{
  float: left;
}

header{
  background: #55d6aa;
}

header::after{
  content: "";
  display: table;
  clear: both;
}

.nav-bar{
  float: left;
}

nav ul {
  margin: 20px;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 100px;
  padding-top: 23px;
  padding-bottom: 15px;

  position: relative;
}

nav a{
  color: #444;
  text-decoration: none;
  text-transform: UpperCase;
  font-size: 20px;
}

nav a:hover{
  color: #000;
}

nav a::before{
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #444;

  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width: 100%;
}

.button-Container{
    margin-top: 50px;
    margin-left: 200px;
    width: 1150px;
    height: 550px;
    display: grid;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px #043233;
    display: inline-block;
}

.single-Section{
  margin-top: 50px;
  margin-left: 200px;
  float: left;
  background-color: #55d6aa;
}

.multi-Section{
  margin-top: 50px;
  margin-right: 200px;
  float: right;
}

#single-friend-button{
  padding: 40px 50px;
  background-color: #55d6aa;
  font-size: 25px;
}

#chat-room-Button{
  padding: 40px 60px;
  background-color: #55d6aa;
  font-size: 25px;

}

.drinks{
  margin-left: 300px;
}



